/* nav */
.brand{
    font-weight: bolder;
    font-size: 24px;
    color: white;
}
.brand:hover{
    font-weight: bolder;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
/* content */
/* footer */